//================================================//
// BOOKS
// book styles to show resources etc
//================================================//

.book {
  min-height: 400px;

  transition: box-shadow 0.4s;

  box-shadow: 1px 1px 3px #aaa;

  @include margin-tb1;
  @include padding-1;
  @include color-bg-white;
  @include position-relative;
  h2 {
    @include margin-none;
  }
  @media (max-width: 500px) {
    min-height: 300px;
  }
}
.book:hover{
  box-shadow:
  1px 1px 3px #aaa,
  5px 5px 0px #fff,
  6px 6px 8px #aaa,
  10px 10px 0px #fff,
  11px 11px 13px #aaa;
}

.book-nohover{
  min-height: 400px;

  transition: box-shadow 0.4s;

  box-shadow: 1px 1px 3px #aaa;
  box-shadow: none;

  @include margin-tb1;
  @include padding-1;
  @include position-relative;
  h2 {
    @include margin-none;
  }
  @media (max-width: 500px) {
    min-height: 300px;
  }
}
.book-nohover:hover{
  box-shadow: none;
}

.book-footer {
  bottom: 1rem;
  left: 0;

  width: 100%;

  @include padding-lr1;
  @include position-absolute;
}
