//================================================//
// CHAT
// style the smooch chat box
//================================================//


#chat-container {
  @include position-relative;
  @include border-solid;

  height: calc(100vh - 55px);
  min-height: 400px;

  border-right: none;
  border-color: $calm;
}
.sk-logo, .sk-intro-section {
  display: none;
}
#sk-header {
  color: $dark !important;
  background-color: $calm !important;

  font-weight: 900;
}
#sk-container {
  border-radius: 0 !important;

  font-family: Inconsolata,monospace,serif;
}
#sk-footer {
  background-color: transparent !important;
}
