//================================================//
// NAVBAR
//================================================//

.logo-topbar {
  display: inline;

  height: 1em;

  vertical-align: middle;
}

.navbar {
  @include color-bg-dark-300;
  @include position-fixed;
  @include full;
  @include zindex-1000;
  .row {
    @include padding-tb1;
  }
  h1 {
    @include margin-none;
    @include text-light;
    @include text-bigger;
  }
  a {
    line-height: $size-lineheight-header;

    @include text-white;
    @include text-decoration-none;
  }
}

.navbar-spacing {
  z-index: -1000;

  @extend .navbar;
  @include position-relative;
  @include color-bg-dark;
}

.nav-fullpage {
  position: fixed;
  z-index: -100;
  top: 0;
  left: 0;

  overflow-x: hidden;

  width: 100%;
  height: 100%;

  transition-timing-function: cubic-bezier(.8,.43,0,.48);
  transition-duration: 0.2s;
  transition-property: opacity;

  opacity: 0;
}

.nav-fullpage-visible {
  z-index: 1000;

  opacity: 1;
}
