//================================================//
// SLICK SLIDER
// use this to stylize a slick slider
// (http://kenwheeler.github.io/slick/)
//================================================//

.full-slider {
  margin: 0;
}
.slider blockquote {
  @include margin-none;
  @include padding-1;
  border-radius: $size-radius;
  border: none;
}
.slick-slide {
  @include opacity-4;
  outline: none;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
}
.slick-center, .slick-current{
  opacity: 1;
}
.slick-dots li button {
  height: 5px;
  width: 5px;
  background: $light-300;
  border-radius: 100%;
}
.slick-active button {
  background: $primary !important;
}
.slick-dots li button:before {
  content: "";
}
.slick-next:before,.slick-prev:before  {
  content: "";
  display: none;
}

.inside-dots .slick-dots {
  bottom: -5px;
}
