---
layout: default
title: Blog | Kimura Digital
description: I write about design, development and my stories as a freelancer in Toronto.
headline: Blog
subline: I write about design, development and my stories as a freelancer in Toronto.
social-headline: I write about design, development and my stories as a freelancer in Toronto.
no-follow:
permalink: /blog/
thumbnail:
author: Thomas Kimura
scroll-animation:
outro:
dark-logo:
background-color:
prettify:
custom_css:
custom_js:
work-url:
---

{% include intro.html %}

  <!-- blog -->
  <article class="color-bg-white">
    <div class="row padding-tb2">
      <div class="large-8 medium-8 small-11 columns small-centered">

        <section>
          {% for post in site.posts %}
          <div class="hover-element-light padding-1 margin-tb1" onclick="window.open('/.{{ post.url }}', '_self');">
            <a href="/.{{ post.url }}"><span class="text-small margin-none opacity-3">{{ post.date | date: "%d %B %Y" }}</span></a>
            <p class="text-big margin-none">{{ post.headline }}</p>
          </div>
          <hr class="margin-none opacity-4">
          {% endfor %}
        </section>

      </div>
    </div>
  </article>

</main>
