//================================================//
// LAYOUT
// these mixins are used to apply spacing and layout
// changes to elements
//================================================//


//================================================//
// FLOAT
@mixin float-left {
  float: left;
}
@mixin float-right {
  float: right;
}
@mixin float-none {
  float:none;
}


//================================================//
// POSITIONING
@mixin position-fixed {
  position: fixed;
}
@mixin position-absolute {
  position: absolute;
}
@mixin position-relative {
  position: relative;
}
@mixin position-static {
  position: static;
}
@mixin center-block {
  display: block;
  margin: 0 auto;
}
@mixin full {
  display: block;
  width: 100%;
}


//================================================//
// MARGINS

// clear margin
@mixin margin-none {
  margin: 0 !important;
}
@mixin margin-none-b {
  margin-bottom: 0 !important;
}
@mixin margin-none-l {
  margin-left: 0 !important;
}
@mixin margin-none-r {
  margin-right: 0 !important;
}
@mixin margin-none-t {
  margin-top: 0 !important;
}

// full margin
@mixin margin-05 {margin: 0.5em;}
@mixin margin-1 {margin: 1em;}
@mixin margin-2 {margin: 2em;}
@mixin margin-3 {margin: 3em;}
@mixin margin-4 {margin: 4em;}
@mixin margin-5 {margin: 5em;}
@mixin margin-6 {margin: 6em;}

// top and bottom margin
@mixin margin-tb05 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
@mixin margin-tb1 {
  margin-top: 1em;
  margin-bottom: 1em;
}
@mixin margin-tb2 {
  margin-top: 2em;
  margin-bottom: 2em;
}
@mixin margin-tb3 {
  margin-top: 3em;
  margin-bottom: 3em;
}
@mixin margin-tb4 {
  margin-top: 4em;
  margin-bottom: 4em;
}
@mixin margin-tb5 {
  margin-top: 5em;
  margin-bottom: 5em;
}
@mixin margin-tb6 {
  margin-top: 6em;
  margin-bottom: 6em;
}

// left and right margin
@mixin margin-lr05 {
  margin-left: 0.5em;
  margin-right: 0.5em;
}
@mixin margin-lr1 {
  margin-left: 1em;
  margin-right: 1em;
}
@mixin margin-lr2 {
  margin-left: 2em;
  margin-right: 2em;
}
@mixin margin-lr3 {
  margin-left: 3em;
  margin-right: 3em;
}
@mixin margin-lr4 {
  margin-left: 4em;
  margin-right: 4em;
}
@mixin margin-lr5 {
  margin-left: 5em;
  margin-right: 5em;
}
@mixin margin-lr6 {
  margin-left: 6em;
  margin-right: 6em;
}

// top only margin
@mixin margin-t05 {
  margin-top: 0.5em;
}
@mixin margin-t1 {
  margin-top: 1em;
}
@mixin margin-t2 {
  margin-top: 2em;
}
@mixin margin-t3 {
  margin-top: 3em;
}
@mixin margin-t4 {
  margin-top: 4em;
}
@mixin margin-t5 {
  margin-top: 5em;
}
@mixin margin-t6 {
  margin-top: 6em;
}

// bottom only margin
@mixin margin-b05 {
  margin-bottom: 0.5em;
}
@mixin margin-b1 {
  margin-bottom: 1em;
}
@mixin margin-b2 {
  margin-bottom: 2em;
}
@mixin margin-b3 {
  margin-bottom: 3em;
}
@mixin margin-b4 {
  margin-bottom: 4em;
}
@mixin margin-b5 {
  margin-bottom: 5em;
}
@mixin margin-b6 {
  margin-bottom: 6em;
}


//================================================//
// PADDINGS

// clear margin
@mixin padding-none {
  padding: 0;
}
@mixin padding-none-b {
  padding-bottom: 0;
}
@mixin padding-none-l {
  padding-left: 0;
}
@mixin padding-none-r {
  padding-right: 0;
}
@mixin padding-none-t {
  padding-top: 0;
}

// full padding
@mixin padding-05 {padding: 0.5em;}
@mixin padding-1 {padding: 1em;}
@mixin padding-2 {padding: 2em;}
@mixin padding-3 {padding: 3em;}
@mixin padding-4 {padding: 4em;}
@mixin padding-5 {padding: 5em;}
@mixin padding-6 {padding: 6em;}

// top and bottom padding
@mixin padding-tb05 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
@mixin padding-tb1 {
  padding-top: 1em;
  padding-bottom: 1em;
}
@mixin padding-tb2 {
  padding-top: 2em;
  padding-bottom: 2em;
}
@mixin padding-tb3 {
  padding-top: 3em;
  padding-bottom: 3em;
}
@mixin padding-tb4 {
  padding-top: 4em;
  padding-bottom: 4em;
}
@mixin padding-tb5 {
  padding-top: 5em;
  padding-bottom: 5em;
}
@mixin padding-tb6 {
  padding-top: 6em;
  padding-bottom: 6em;
}

// left and right padding
@mixin padding-lr05 {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
@mixin padding-lr1 {
  padding-left: 1em;
  padding-right: 1em;
}
@mixin padding-lr2 {
  padding-left: 2em;
  padding-right: 2em;
}
@mixin padding-lr3 {
  padding-left: 3em;
  padding-right: 3em;
}
@mixin padding-lr4 {
  padding-left: 4em;
  padding-right: 4em;
}
@mixin padding-lr5 {
  padding-left: 5em;
  padding-right: 5em;
}
@mixin padding-lr6 {
  padding-left: 6em;
  padding-right: 6em;
}

// top only padding
@mixin padding-t05 {
  padding-top: 0.5em;
}
@mixin padding-t1 {
  padding-top: 1em;
}
@mixin padding-t2 {
  padding-top: 2em;
}
@mixin padding-t3 {
  padding-top: 3em;
}
@mixin padding-t4 {
  padding-top: 4em;
}
@mixin padding-t5 {
  padding-top: 5em;
}
@mixin padding-t6 {
  padding-top: 6em;
}

// bottom only padding
@mixin padding-b05 {
  padding-bottom: 0.5em;
}
@mixin padding-b1 {
  padding-bottom: 1em;
}
@mixin padding-b2 {
  padding-bottom: 2em;
}
@mixin padding-b3 {
  padding-bottom: 3em;
}
@mixin padding-b4 {
  padding-bottom: 4em;
}
@mixin padding-b5 {
  padding-bottom: 5em;
}
@mixin padding-b6 {
  padding-bottom: 6em;
}
