//================================================//
// TINTS
// mixins to add a background tint to elements
// infront of other coloured elements
//================================================//


@mixin color-tint-dark-1 {
  background: transparentize($dark, 0.9);
}
@mixin color-tint-dark-2 {
  background: transparentize($dark, 0.7);
}
@mixin color-tint-dark-3 {
  background: transparentize($dark, 0.5);
}
@mixin color-tint-dark-4 {
  background: transparentize($dark, 0.3);
}

@mixin color-tint-light-1 {
  background: transparentize($light, 0.9);
}
@mixin color-tint-light-2 {
  background: transparentize($light, 0.7);
}
@mixin color-tint-light-3 {
  background: transparentize($light, 0.5);
}
@mixin color-tint-light-4 {
  background: transparentize($light, 0.3);
}

@mixin color-tint-primary-1 {
  background: transparentize($primary, 0.9);
}
@mixin color-tint-primary-2 {
  background: transparentize($primary, 0.7);
}
@mixin color-tint-primary-3 {
  background: transparentize($primary, 0.5);
}
@mixin color-tint-primary-4 {
  background: transparentize($primary, 0.3);
}
