//================================================//
// FONTS
// define basic fonts and variables
//================================================//


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300,400italic);
@import url(https://fonts.googleapis.com/css?family=Yeseva+One);
$font-default: 'Open Sans', sans-serif;
$font-header: 'Yeseva One', cursive;
$font-logo: 'Open Sans', sans-serif;
$font-serif: 'Yeseva One', cursive;

$size-base-desktop: 1.125em;  // 18px
$size-base-tablet: 1em;       // 16px
$size-base-mobile: 0.875em;   // 14px
$size-typeratio: 1.3;
$size-lineheight-header: 1.2;
$size-lineheight-body: 1.618;


$size-desktop-h5: $size-base-desktop;
$size-desktop-h6: $size-desktop-h5 / $size-typeratio;
$size-desktop-h4: $size-base-desktop * $size-typeratio;
$size-desktop-h3: $size-desktop-h4 * $size-typeratio;
$size-desktop-h2: $size-desktop-h3 * $size-typeratio;
$size-desktop-h1: $size-desktop-h2 * $size-typeratio;

$size-tablet-h5: $size-base-tablet;
$size-tablet-h6: $size-tablet-h5 / $size-typeratio;
$size-tablet-h4: $size-base-tablet * $size-typeratio;
$size-tablet-h3: $size-tablet-h4 * $size-typeratio;
$size-tablet-h2: $size-tablet-h3 * $size-typeratio;
$size-tablet-h1: $size-tablet-h2 * $size-typeratio;

$size-mobile-h5: $size-base-mobile;
$size-mobile-h6: $size-mobile-h5 / $size-typeratio;
$size-mobile-h4: $size-base-mobile * $size-typeratio;
$size-mobile-h3: $size-mobile-h4 * $size-typeratio;
$size-mobile-h2: $size-mobile-h3 * $size-typeratio;
$size-mobile-h1: $size-mobile-h2 * $size-typeratio;
