<main role="main">

  <header class="padding-tb6 color-bg-dark-600" {{ page.background-color }}>
    <div class="row animation slideup">
      <div class="large-8 medium-8 small-11 columns small-centered">
        <p class="margin-none-t text-center">
          <a class="text-light" href="/blog">Back to blog</a>
        </p>
        <h1 class="margin-none text-lightest text-center text-letterspacing-2">
          {% if page.headline %}
            {{ page.headline }}
          {% else %}
            Kimura Digital
          {% endif %}
        </h1>
        <p class="margin-none opacity-2 text-big text-center text-lightest text-weight-300 text-family-default ">
          {{ page.date | date: "%d %B %Y" }} | {{ page.author }}
        </p>
      </div>
    </div>
  </header>
