


  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="/assets/js/headroom.min.js"></script>


  <script>
  $( document ).ready(function() {
    // header
    var myElement = document.querySelector(".headroom");
    var headroom  = new Headroom(myElement);
    headroom.init();

    // open nav
    $( ".nav-toggle" ).click(function() {
      $("#nav").toggleClass("nav-fullpage-visible");
    });

    // animate into page
    $("#slide-up").removeClass("opacity-0");
    $("#slide-up").addClass("slide-up");
  });
  </script>


  {% if page.scroll-animation %}
    <script>
      $(window).scroll(function() {

        $('.about-throw-right').each(function(){
        var imagePos = $(this).offset().top;

        var topOfWindow = $(window).scrollTop();
          if (imagePos < topOfWindow+400) {
            $(this).addClass("tossleft");
          }
        });

        $('.about-throw-left').each(function(){
        var imagePos = $(this).offset().top;

        var topOfWindow = $(window).scrollTop();
          if (imagePos < topOfWindow+400) {
            $(this).addClass("tossright");
          }
        });

      });
    </script>
  {% endif %}


  {% if page.prettify %}
    <script src="/assets/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  {% endif %}


  {% if page.custom_js %}
    {% for script in page.custom_js %}
    <script src="/assets/js/{{ script }}.js"></script>
    {% endfor %}
  {% endif %}


<script type="application/ld+json">
{ "@context" : "http://schema.org",
  "@type" : "Organization",
  "legalName" : "Kimura Digital",
  "url" : "http://kimuradigital.com/",
  "contactPoint" : [{
    "@type" : "ContactPoint",
    "telephone" : "+1-416-275-6541",
    "contactType" : "sales"
  }],
  "logo" : "http://kimuradigital.com/siteicon.png",
  "sameAs" : [
    "http://www.twitter.com/_tomki"]
}
</script>

</body>
</html>
