<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns= "http://www.w3.org/1999/xhtml">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="en">
    <meta name="google" content="notranslate">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">


    <!-- title -->
    <title>
      {% if page.title %}
        {{ page.title }}
      {% else %}

      {% endif %}
    </title>


    <!-- description -->
    <meta name="description" content="
    {% if page.description %}
      {{ page.description }}
    {% else %}

    {% endif %}
    " />


    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="
    {% if page.social-headline %}
      {{ page.social-headline }}
    {% else %}

    {% endif %}">
    <meta itemprop="description" content="
    {% if page.description %}
      {{ page.description }}
    {% else %}

    {% endif %}">
    <meta itemprop="image" content="
    {% if page.thumbnail %}
      {{ page.thumbnail }}
    {% else %}
      /assets/img/meta/thumbnail.png
    {% endif %}">


    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@kimuradigtal">
    <meta name="twitter:title" content="
    {% if page.social-headline %}
      {{ page.social-headline }}
    {% else %}

    {% endif %}">
    <meta name="twitter:description" content="
    {% if page.description %}
      {{ page.description }}
    {% else %}

    {% endif %}">
    <meta name="twitter:creator" content="@kimuradigtal">
    <meta name="twitter:image:src" content="
    {% if page.thumbnail %}
      {{ page.thumbnail }}
    {% else %}
      /assets/img/meta/thumbnail.png
    {% endif %}">


    <!-- Open Graph data -->
    <meta property="og:title" content="
    {% if page.social-headline %}
      {{ page.social-headline }}
    {% else %}

    {% endif %}">
    <meta property="og:type" content="article" />
    <meta property="og:image" content="
    {% if page.thumbnail %}
      {{ page.thumbnail }}
    {% else %}
      /assets/img/meta/thumbnail.png
    {% endif %}"/>
    <meta property="og:description" content="
    {% if page.description %}
      {{ page.description }}
    {% else %}

    {% endif %}" />


    <link rel="apple-touch-icon" sizes="57x57" href="/assets/img/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/img/favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/assets/img/favicon/manifest.json">
    <link rel="mask-icon" href="/assets/img/favicon/safari-pinned-tab.svg" color="#af3535">
    <link rel="shortcut icon" href="/assets/img/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/assets/img/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="/assets/img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">


    <!-- stylesheets -->
    <link href="/assets/css/style.min.css" rel="stylesheet">
    {% if page.custom_css %}
      {% for stylesheet in page.custom_css %}
      <link rel="stylesheet" href="assets/css/{{ stylesheet }}.css" media="screen" type="text/css">
      {% endfor %}
    {% endif %}
    <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
    <script src="https://use.fontawesome.com/b8a1825d4b.js"></script>

    {% if page.no-follow %}
      <meta name="robots" content="noindex">
    {% endif %}


  </head>
  <body class="color-bg-cream">
