<!-- NAVBAR -->


<!-- header -->
<header class="navbar">
  <div class="row expanded align-center">
    <div class="small-12 columns">
      <span>
        <a href="/"><img class="logo-topbar" src="/assets/img/logo64_light.png"></a>
      </span>
    </div>
  </div>
</header>
<!-- end header -->

<!-- fake header -->
<header class="navbar-spacing">
  <div class="row expanded align-center">
    <div class="small-12 columns">
      <span>
        <a href="/"><img class="logo-topbar" src="/assets/img/logo64_light.png"></a>
      </span>
    </div>
  </div>
</header>
<!-- end fake header -->
