<!-- header -->
<header class="navbar">
  <div class="row expanded align-center">
    <div class="small-6 columns">
      <span>
        <a href="/"><img class="logo-topbar" src="/assets/img/logo64_light.png"></a>
      </span>
    </div>
    <div class="small-6 columns text-right">
      <!-- <i class="fa fa-bars nav-toggle text-white cursor-pointer" aria-hidden="true"></i> -->
    </div>
  </div>
</header>
<!-- end header -->


<!-- fake header -->
<header class="navbar-spacing">
  <div class="row expanded align-center">
    <div class="small-12 columns">
      <span>
        <a href="/"><img class="logo-topbar" src="/assets/img/logo64_light.png"></a>
      </span>

    </div>
  </div>
</header>
<!-- end fake header -->


<!-- full nav -->
<nav class="nav-fullpage color-bg-cream" id="nav">

  <section>
    <div class="row align-center">
      <div class="large-8 medium-10 small-12 columns">

        <ul class="margin-b2 padding-none list-none">
          <hr class="opacity-4">
          <a class="text-dark" href="/services">
          <li class="padding-1 text-big text-center cursor-pointer"
            >Services
          </li>
          </a>
          <hr class="opacity-4">
          <a class="text-dark" href="/apps/freebie">
          <li class="padding-1 text-big text-center cursor-pointer"
            >Freebie App
          </li>
          </a>
          <hr class="opacity-4">
        </ul>

        <a class="margin-tb1 button color-bg-primary full text-center text-white" href="mailto:thomas@kimuradigital.com"><strong>Contact Me</strong></a>

        <p class="margin-b1 text-small text-center">
          <a href="/"><img class="padding-b05" src="/assets/img/logotype_dark.png"></a>
        </p>

        <p class="text-center text-smaller opacity-3">
          <a href="/terms">Terms & Conditions</a> </br> Copyright © <script>new Date().getFullYear()>2010&&document.write(new Date().getFullYear());</script> Kimura Digital. All rights reserved.
        </p>

      </div>
    </div>
  </section>

</nav>
<!-- end full nav -->
