<!-- QUOTE -->
<section class="padding-tb4 border-solid-top border-color-calm">
  <form action="https://formspree.io/thomas@kimuradigital.com" method="POST">

    <div class="row align-center">
      <div class="large-12 columns">
        <h3 class="opacity-2 margin-none-t"><span class="border-solid-bottom">REQUEST QUOTE</span></h3>
      </div>
    </div>

    <div class="row align-center">
      <div class="large-6 small-12 columns">
        <label for="description">Explain your project: *</label>
        <textarea required placeholder="Briefly describe your project" name="description" id="description" class="full margin-b1" rows="12"></textarea>
      </div>
      <div class="large-6 small-12 columns">
        <label for="name">Full Name: *</label>
        <input type="text" placeholder="Thomas Kimura" required name="name" id="name" class="full margin-b1"></input>

        <label for="email">Email: *</label>
        <input type="email" placeholder="thomas@kimuradigital.com" required name="email" id="email" class="full margin-b1"></input>

        <label for="url">Website URL:</label>
        <input type="text" placeholder="yourwebsite.com" name="url" id="url" class="full margin-b1"></input>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns text-right">

        <input class="display-none" type="hidden" name="_next" value="/thanks.html" />
        <input class="display-none" type="hidden" name="_format" value="plain" />

        <input type="submit" value="Submit Project" name="subscribe" class="button-primary cursor-pointer margin-none"></input>
        <p>
          OR Schedule a free <strong><a href="https://calendly.com/kimuradigital/15min/" target="_blank">consultation</a></strong>.
        </p>
      </div>
    </div>

</form>
</section>
<!-- END QUOTE -->
