<!-- REVIEWS -->
<section class="padding-tb4 border-solid-top border-color-calm">

  <div class="row align-center">
    <div class="large-12 columns">
      <h3 class="opacity-2 margin-none-t"><span class="border-solid-bottom">CLIENT TESTIMONIALS</span></h3>
    </div>
  </div>
  <div class="row align-center">
    <div class="large-4 medium-4 small-6 columns">
      <p class="margin-none-t">
        <span><strong class="text-smal">Lindsay Stephenson</strong></span><br/>
        Amazing. Fast response time, extremely clear and helpful. I'd request Thomas specifically the next time I'd need some work done. Highly recommend.
        <br/><span><strong class="text-aside">WWW.PENNYPAPERCO.COM</strong></span>
      </p>

      <p class="margin-none-t">
        <span><strong class="text-smal">Amy Richardson</strong></span><br/>
        Thomas was quick and attentive and gave us many options for accomplishing the task we were looking for.
        <br/><span><strong class="text-aside">JUNEANDJANUARY.COM</strong></span>
      </p>

      <p class="margin-none-t">
        <span><strong class="text-smal">Daniel Dimassa</strong></span><br/>
        Both professional and great designer.He knew what direction to lead me to so could get the best product out. Thanks again for the clean design and help.
        <br/><span><strong class="text-aside">dieepic.com</strong></span>
      </p>
    </div>
    <div class="large-4 medium-4 small-6 columns">
      <p class="margin-none-t">
        <span><strong class="text-smal">Stuart Ridge</strong></span><br/>
        Thomas was awesome to work with. Fast, friendly and offered up multiple solutions for the development task. Wouldn't hesitate to use him again.
        <br/><span><strong class="text-aside">MIZULIFE.COM</strong></span>
      </p>

      <p class="margin-none-t">
        <span><strong class="text-smal">Patrick Atallah</strong></span><br/>
        Thomas was awesome to work with. He was very responsive, answered all my questions promptly, and finished the job quickly and without error. I would definitely seek out his services in the future.
      </p>

      <p class="margin-none-t">
        <span><strong class="text-smal">Nancy Beliveau</strong></span><br/>
        Impeccable services. Looking forward to using Thomas's expertise again.
      </p>
    </div>
    <div class="large-4 medium-4 small-6 columns desktop-only">
      <p class="margin-none-t">
        <span><strong class="text-smal">Jake Cohn</strong></span><br/>
        I love how on point and responsive he was when it came to putting what we talked about onto the actual page—and it was always in a very quick turnaround time. He was equally impressive and quick performing the little intermittent tweaks and edits that i'd throw his way. I highly recommend him!
        <br/><span><strong class="text-aside">andchill.io</strong></span>
      </p>

      <p class="margin-none-t">
        <span><strong class="text-smal">Adam Moats</strong></span><br/>
        Thomas did a great job again, going above and beyond despite my specifications being poor. He also finished way ahead of schedule.
        <br/><span><strong class="text-aside">florenceadams.clothing</strong></span>
      </p>
    </div>

  </div>
</section>
<!-- END REVIEWS -->



<!-- LOGOS -->
<!-- <section class="padding-tb4 desktop-only border-solid-top border-color-calm">
  <div class="row align-center align-middle opacity-3 text-center">

    <div class="large-3 medium-3 small-4 columns">
      <img class="padding-lr2" src="../assets/img/logo-clockfactory.png">
    </div>
    <div class="large-3 medium-3 small-4 columns">
      <img class="padding-lr2" src="../assets/img/logo-planet.png">
    </div>
    <div class="large-3 medium-3 small-4 columns">
      <img class="padding-lr2" src="../assets/img/logo-wicked.png">
    </div>
    <div class="large-3 medium-3 small-4 columns">
      <img class="padding-lr2" src="../assets/img/logo-hnt.png">
    </div>

    <div class="large-3 medium-3 small-4 columns">
      <img src="../assets/img/logo-trendy.png">
    </div>
    <div class="large-3 medium-3 small-4 columns">
      <img src="../assets/img/logo-scs.png">
    </div>
    <div class="large-3 medium-3 small-4 columns">
      <img src="../assets/img/logo-mizu.png">
    </div>
    <div class="large-3 medium-3 small-4 columns">
      <img src="../assets/img/logo-june.png">
    </div>

    <div class="large-3 medium-3 small-4 columns">
      <img src="../assets/img/logo-florence.png">
    </div>
    <div class="large-3 medium-3 small-4 columns">
      <img src="../assets/img/logo-muskoka.png">
    </div>
    <div class="large-3 medium-3 small-4 columns">
      <img src="../assets/img/logo-canoe.png">
    </div>
    <div class="large-3 medium-3 small-4 columns">
      <img src="../assets/img/logo-ck.png">
    </div>

  </div>
</section> -->
<!-- END LOGOS -->
