<main role="main">

  <header class="padding-tb6">
    <div class="row animation slideup">
      <div class="large-8 medium-8 small-11 columns small-centered">
        <p class="margin-none-t text-center"><a class="text-light work-header-link" href="/">Back to work</a></p>
        <h1 class="text-center margin-none text-letterspacing-2 work-headline">
          {% if page.headline %}
            {{ page.headline }}
          {% else %}
            Kimura Digital
          {% endif %}
        </h1>
        <h2 class="margin-none text-bigger text-center text-lightest text-weight-300 text-family-default opacity-2 work-subline">
          {{ page.subline }}
        </h2>
        {% if page.work-url %}
          <p class="text-center margin-none-b margin-t2">
            <a class="padding-05 text-lightest work-header-link work-header-button rounded padding-1" target="_blank" href="{{ page.work-url }}"><i class="fa fa-globe"></i> View live version</a>
          </p>
        {% endif %}
      </div>
    </div>
  </header>
