//================================================//
// button
//================================================//


.button {
  @include display-inlineblock;
  @include padding-1;
  @include border-solid;
  @include text-decoration-none;
  @include text-weight-900;
  @include text-dark;
  @include cursor-pointer;
  border-radius: $size-radius;
  transition: box-shadow 0.3s cubic-bezier(0.8, 0.43, 0, 0.48);
  margin-right: 0.5rem;
  &:hover {
    opacity: 1;
    box-shadow: $dark 7px 7px 0px 0px;
  }
  .fa {
    @include float-right;
    @include opacity-2;
  }
}


.button-primary {
  @extend .button;
  @include text-white;
  @include color-bg-primary;
}
.button-invert {
  @extend .button;
  @include text-white;
  &:hover {
    opacity: 1;
    box-shadow: white 7px 7px 0px 0px;
  }
}
.button-plain-dark {
  @extend .button;
  @include text-white;
  border-color: transparent;
  &:hover {
    border-color: $cream-900;
  }
}
.button-clear {
  @extend .button;
  border: none;
  &:hover {
    box-shadow: none;
  }
}
.button-small {
  @extend .button;
  @include padding-05;
}


.button-chop-left {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
