header {
  background-color: #a84a33;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  /*background: linear-gradient(red, yellow);*/
}

.work-header-link {
  color: #ffffff;
}
.work-header-button {
  color: #a84a33;
  background-color: #ffffff;
}
.work-subline {
  color: #ffffff; !important;
}
.work-headline {
  color:#ffffff !important;
}
.work-nav-links {
  color: #ffffff; !important;
}
