//================================================//
// TEMPORARY
// code in here should be split into molecules
//================================================//


//================================================//
// NAVIGATION
.nav-fullpage {
  position: fixed;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateY(-100%);
  transition-property: transform;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(.8,.43,0,.48);
  z-index: 100;
  overflow-x: hidden;
}

.nav-fullpage-visible {
  z-index: 100;
  opacity:1;
  transform: translateY(0);
}

.logo-topbar {
  height: 1em;
  display: inline;
  vertical-align: middle;
}


//================================================//
// TIMELINE
.timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 4px;
  background: $light;
  @media only screen and (min-width: 640px) {
    left: 50%;
    margin-left: -2px;
  }
}


//================================================//
// INDICATOR
.indicator {
  height: .5em;
  width: 0.5em;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}
