table{
  table-layout:fixed;
}
table td {
  @include padding-tb05;
  @include padding-lr05;
  vertical-align: middle;
  border-bottom: solid $size-border-width $calm;
}
table tr {
  &:hover {
    background: $cream;
  }
}
table th {
  @include padding-tb05;
  @include padding-lr05;
  text-align: left;
}

.table-nohover {
  &:hover {
    background: transparent;
  }
}
.table-noborder td {
  border-bottom: none;
}
